body {
  background: #f1f1f1;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color: #000;
}
section.jumbotron {
  background: url('../img/frontpage-cover.png') top center;
  background-size: cover;

  & header {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr auto;

    & img {
      height: 30px;
    }
    & .user-area {
      & .button, & .button-white {
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 4px;
        font-size: 0.8rem;
        font-weight: bold;
        transition: 0.2s ease all;

        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 0.6;
        }
      }
      & .button {
        background: transparent;
        color: #fff;
      }
      & .button-white {
        background: #fff;
        color: #000;
      }
    }
  }
  & .jumbo-content {
    padding-top: 250px;
    padding-bottom: 70px;
    text-align: center;

    & h1 {
      color: #fff;
      font-size: 3rem;
      line-height: 1.15;
      font-weight: bold;
    }
    & .jumbo-button {
      color: #000;
      background: #fff;
      display: inline-block;
      padding: 10px 30px;
      font-weight: 400;
      letter-spacing: 0.1em;
      text-decoration: none;
      border-radius: 3px;
      margin-top: 15px;
      transition: 0.2s ease all;

      &:hover {
        padding: 10px 35px;
        letter-spacing: 0.15em;
      }
      &:active {
        padding: 10px 25px;
        letter-spacing: 0.05em;
      }
    }
  }
}
main {
  padding: 25px 0px;

  .box {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);

    &.featurette {
      text-align: center;
      padding: 40px;

      & .icon {
        background: #4565AD;
        color: #fff;
        width: 64px;
        height: 64px;
        font-size: 34px;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }

      & h1 {
        font-size: 1.15em;
      }
    }
  }
}
.grid-wrapper {
  max-width: 1140px;
  margin: 0 auto;

  &.featurettes {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}