header {
  background: #5073f5;
  padding: 20px 0px 0px 0px;
}
header .grid-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
header .grid-header .logo {
  height: 30px;
}
header .grid-header .tabs {
  margin-top: 15px;
  display: flex;
}
header .grid-header .tabs a {
  margin-right: 10px;
  padding: 10px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  background: transparent;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  text-decoration: none;
  transition: 0.2s ease background, 0.2s ease color;
}
header .grid-header .tabs a i {
  font-size: 1.25em;
}
header .grid-header .tabs a span {
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
}
header .grid-header .tabs a.active {
  color: #5073f5;
  background: #f1f1f1;
}
header .grid-header .tabs a:not(.active):hover {
  background: rgba(0, 0, 0, 0.1);
}
header .grid-header .tabs a:not(.active):active {
  background: rgba(0, 0, 0, 0.15);
}
main {
  padding: 40px 0px;
  display: grid;
  grid-gap: 35px;
}
main .box-recommendation {
  background: url('../img/banner_kurse.png') center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 60px 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}
main .box-recommendation .recommendation-notification {
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 6px 10px 2px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid #fff;
}
main .box-recommendation h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  font-weight: 500;
}
main h1 {
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 10px;
}
main .courses-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
main .courses-grid .course {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid #fff;
  padding: 16px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto auto 1fr;
  transition: 0.2s ease transform, 0.2s ease box-shadow;
}
main .courses-grid .course .course-difficulty {
  justify-self: left;
  background: rgba(80, 115, 245, 0.15);
  color: #5073f5;
  padding: 5px 10px;
  border-radius: 4px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 1fr;
  align-items: center;
}
main .courses-grid .course .course-difficulty span.icons {
  letter-spacing: -0.15em;
  font-size: 1.05em;
}
main .courses-grid .course .course-difficulty span.text {
  font-weight: 500;
  font-size: 0.9em;
}
main .courses-grid .course h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
}
main .courses-grid .course p {
  line-height: 1.25em;
}
main .courses-grid .course:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
main .courses-grid .course:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
main .courses-grid .course:focus {
  border-color: #5073f5;
}
main form {
  display: grid;
  grid-gap: 15px;
  max-width: 400px;
  margin: 10px auto;
  animation: upEntrance 1s cubic-bezier(0.19, 1, 0.22, 1);
}
main form h1 {
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 15px;
}
main form .alert {
  padding: 15px 20px;
  border-radius: 4px;
  margin-bottom: 5px;
  border: 2px solid;
  text-align: center;
  font-size: 0.85em;
}
main form .alert.alert-success {
  background: rgba(80, 115, 245, 0.15);
  border-color: #5073f5;
}
main form .alert.alert-error {
  background: rgba(255, 109, 68, 0.15);
  border-color: #ff6d44;
}
main form .input-field {
  position: relative;
}
main form .input-field label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  padding: 0px 5px;
  top: -5px;
  color: #909090;
  background: #fff;
}
main form .input-field input {
  width: 100%;
  border: 2px solid #ddd;
  background: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Jost', sans-serif;
}
main form .input-field input::placeholder {
  opacity: 0.5;
}
main form .input-field:focus-within label {
  color: #5073f5;
}
main form .input-field:focus-within input {
  outline: 0;
  border-color: #5073f5;
}
main form input[type="submit"] {
  justify-self: center;
}
main form .new-account-notice {
  text-align: center;
  font-size: 0.85em;
  color: #909090;
}
main form .new-account-notice a {
  text-decoration: none;
  color: #5073f5;
  font-weight: 500;
}
main form .new-account-notice a:hover {
  text-decoration: underline;
}
.box.box-userarea {
  display: grid;
  grid-template-columns: 1fr auto;
}
.box.box-userarea .userarea-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box.box-coursedates {
  display: grid;
  grid-template-rows: auto 100px auto auto auto;
}
.box.box-coursedates .course-dates {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}
.box.box-coursedates .course-dates .course-date {
  background: #f4f4f4;
  display: grid;
  padding: 10px;
  border: 3px solid transparent;
  border-radius: 4px;
  grid-template-rows: 1fr auto;
  transition: 0.15s ease all;
}
.box.box-coursedates .course-dates .course-date span:nth-child(1) {
  text-align: center;
  font-weight: 400;
  padding: 5px 0px 2px;
  font-size: 3em;
  transition: 0.15s ease all;
}
.box.box-coursedates .course-dates .course-date span:nth-child(2) {
  font-weight: 600;
  font-size: 0.8em;
  padding: 5px 0px;
  text-align: center;
  transition: 0.15s ease all;
}
.box.box-coursedates .course-dates .course-date.active {
  background: rgba(80, 115, 245, 0.06);
  border-color: #5073f5;
}
.box.box-coursedates .course-dates .course-date.active span {
  color: #5073f5;
}
.box.box-coursedates .course-dates.interactable .course-date:not(.active):hover {
  background: rgba(80, 115, 245, 0.06);
  border-color: #5073f5;
  cursor: pointer;
}
.box.box-coursedates .course-dates.interactable .course-date:not(.active):hover span {
  color: #5073f5;
}
.box.box-coursedates .course-dates.interactable .course-date:focus {
  border-color: #5073f5;
}
.box.box-coursedates h3:nth-of-type(2) {
  margin-top: 10px;
}
.box.box-coursedates .notification {
  font-size: 0.8em;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: rgba(80, 115, 245, 0.06);
}
.box.box-coursedates .button {
  text-align: center;
}
.box.box-coursedates.action-done {
  grid-template-rows: auto 100px auto 1fr;
}
.box.box-coursedates.action-done .notification {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
/*# sourceMappingURL=userarea.css.map */