@import "vars";

header {
  background: @colorPrimary;
  padding: 20px 0px 0px 0px;

  & .grid-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    & .logo {
      height: 30px;
    }

    & .tabs {
      margin-top: 15px;
      display: flex;

      & a {
        margin-right: 10px;
        padding: 10px 15px;
        border-top-left-radius: @borderRadius;
        border-top-right-radius: @borderRadius;
        color: @colorPrimaryText;
        background: transparent;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 10px;
        align-items: center;
        text-decoration: none;
        transition: 0.2s ease background, 0.2s ease color;

        & i {
          font-size: 1.25em;
        }
        & span {
          font-weight: 600;
          font-size: 0.8em;
          text-transform: uppercase;
        }
        &.active {
          color: @colorPrimary;
          background: @colorBackground;
        }
        &:not(.active):hover {
          background: rgba(0,0,0,0.1);
        }
        &:not(.active):active {
          background: rgba(0,0,0,0.15);
        }
      }
    }
  }
}
main {
  padding: 40px 0px;
  display: grid;
  grid-gap: 35px;

  & .box-recommendation {
    background: url('../img/banner_kurse.png') center;
    background-size: cover;
    color: @colorPrimaryText;
    text-align: center;
    padding: 60px 0px;
    border-radius: @borderRadius;
    box-shadow: @boxShadow;
    position: relative;

    & .recommendation-notification {
      font-weight: 500;
      font-size: 0.75em;
      text-transform: uppercase;
      padding: 6px 10px 2px;
      border-radius: @borderRadius;
      position: absolute;
      top: 10px;
      left: 10px;
      border: 2px solid @colorPrimaryText;
    }

    & h1 {
      font-size: 2.5em;
      margin-bottom: 15px;
      font-weight: 500;
    }
  }


  & h1 {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 10px;
  }
  & .courses-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;

    & .course {
      background: #fff;
      border-radius: @borderRadius;
      box-shadow: @boxShadow;
      border: 2px solid #fff;
      padding: 16px;
      display: grid;
      grid-gap: 10px;
      grid-template-rows: auto auto 1fr;
      transition: 0.2s ease transform, 0.2s ease box-shadow;

      & .course-difficulty {
        justify-self: left;
        background: @colorPrimaryLight15;
        color: @colorPrimary;
        padding: 5px 10px;
        border-radius: @borderRadius;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto 1fr;
        align-items: center;

        & span.icons {
          letter-spacing: -0.15em;
          font-size: 1.05em;
        }
        & span.text {
          font-weight: 500;
          font-size: 0.9em;
        }
      }
      & h1 {
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 0px;
      }
      & p {
        line-height: 1.25em;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
        cursor: pointer;
      }
      &:active {
        transform: translateY(0px);
        box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
      }
      &:focus {
        border-color: @colorPrimary;
      }
    }
  }
  & form {
    display: grid;
    grid-gap: 15px;
    max-width: 400px;
    margin: 10px auto;
    animation: upEntrance 1s cubic-bezier(0.19, 1, 0.22, 1);

    & h1 {
      text-align: center;
      font-size: 1.25em;
      margin-bottom: 15px;
    }
    & .alert {
      padding: 15px 20px;
      border-radius: 4px;
      margin-bottom: 5px;
      border: 2px solid;
      text-align: center;
      font-size: 0.85em;

      &.alert-success {
        background: @colorPrimaryLight15;
        border-color: @colorPrimary;
      }
      &.alert-error {
        background: @colorSecondary15;
        border-color: @colorSecondary;
      }
    }
    & .input-field {
      position: relative;

      & label {
        position: absolute;
        pointer-events: none;
        left: 10px;
        padding: 0px 5px;
        top: -5px;
        color: #909090;
        background: #fff;
      }
      & input {
        width: 100%;
        border: 2px solid #ddd;
        background: #fff;
        padding: 8px 15px;
        border-radius: @borderRadius;
        font-size: 1em;
        font-family: 'Jost', sans-serif;

        &::placeholder {
          opacity: 0.5;
        }
      }

      &:focus-within {
        & label {
          color: @colorPrimary;
        }
        & input {
          outline: 0;
          border-color: @colorPrimary;
        }
      }
    }

    & input[type="submit"] {
      justify-self: center;
    }

    & .new-account-notice {
      text-align: center;
      font-size: 0.85em;
      color: #909090;

      & a {
        text-decoration: none;
        color: @colorPrimary;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.box {
  &.box-userarea {
    display: grid;
    grid-template-columns: 1fr auto;

    & .userarea-info {
      h1 {
        margin-bottom: 5px;
      }
    }
    & .userarea-action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &.box-coursedates {
    display: grid;
    grid-template-rows: auto 100px auto auto auto;

    & .course-dates {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr 1fr 1fr;

      & .course-date {
        background: @colorLight;
        display: grid;
        padding: 10px;
        border: 3px solid transparent;
        border-radius: @borderRadius;
        grid-template-rows: 1fr auto;
        transition: 0.15s ease all;

        & span:nth-child(1) {
          text-align: center;
          font-weight: 400;
          padding: 5px 0px 2px;
          font-size: 3em;
          transition: 0.15s ease all;
        }
        & span:nth-child(2) {
          font-weight: 600;
          font-size: 0.8em;
          padding: 5px 0px;
          text-align: center;
          transition: 0.15s ease all;
        }

        &.active {
          background: @colorPrimaryLight;
          border-color: @colorPrimary;

          & span {
            color: @colorPrimary;
          }
        }
      }

      &.interactable {
        & .course-date {
          &:not(.active):hover {
            background: @colorPrimaryLight;
            border-color: @colorPrimary;
            cursor: pointer;

            & span {
              color: @colorPrimary;
            }
          }
          &:focus {
            border-color: @colorPrimary;
          }
        }
      }
    }

    & h3:nth-of-type(2) {
      margin-top: 10px;
    }

    & .notification {
      font-size: 0.8em;
      display: block;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: @borderRadius;
      background: @colorPrimaryLight;
    }
    & .button {
      text-align: center;
    }
    &.action-done {
      grid-template-rows: auto 100px auto 1fr;

      & .notification {
        margin: 0;
        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0;

    & .grid-header {
      padding: 25px 25px 0px;

      & .tabs {
        grid-column: 1 / span 2;
      }
    }
  }
  main {
    & .box-recommendation {
      padding: 50px 0px 20px;

      & h1 {
        font-size: 2em;
      }
    }
    & .box.box-userarea {
      grid-template-columns: 1fr;
      grid-gap: 15px;

      & .userarea-action {
        justify-content: center;
      }
    }
    & .courses-grid {
      grid-template-columns: 1fr;
    }
  }
  & .modal-details {
    padding: 0 !important;
    background: #fff !important;

    & .course-details {
      border-radius: 0px !important;
    }
    & .box {
      box-shadow: none !important;
      border-bottom: 1px solid #ddd;
      border-radius: 0px !important;
    }

    & .modal-details-content {
      padding: 0px;

      & .course-moredetails {
        grid-template-columns: 1fr !important;
        grid-gap: 0px !important;
      }
    }
  }
}